* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #507191;
  color: black;
  line-height: 1.6;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}

.header {
  padding: 20px;
  width: 100%;
  display: flex;
  place-content: center;
  color: white;
  background-color: black;
}

.footer {
  width: 100%;
  padding: 20px;
  background-color: black;
  color: aliceblue;
  display: grid;
  place-content: center;
  flex-shrink: 0;
}

.card {
  background-color: #fff;
  color: #333333;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;
  z-index: 900;
}

.text-display {
  position: relative;
  font-weight: bold;
}

.btn {
  color: black;
  border: 0;
  border-radius: 18px;
  color: rgb(7, 7, 7);
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 15px;

}

.delete, .edit {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
}

.edit {
  right: 40px;
}

.item {
  text-align: center;
  width: 20px;
  height: 20px;
  cursor: pointer;

}


.input {
  width: 300px;
  height: 30px;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  margin: 2%;
  border-radius: 15px;
  margin-bottom: 10px;
}


.add-task-title{
  margin-left: 20px;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.25rem 0 0 ;
  border-radius: 15px;
  background-color: white;
  
}

.search-form label {
  position: absolute;
  left: -99999px;

}

.search-form input [type="text"] {
  flex-grow: 1;
  max-width: 100%;
  min-height: 48px;
  padding: 0.25rem;
  border-radius: 15px;
  outline: none;
  margin-bottom: 10px;
  background-color: white;
}

.form {
  background-color: white;
}

.links {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  text-decoration: none;
}

.about {
  width: 50%;
  margin: 40%;
}

.navbar {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: white;
}

.nav-menu {
  background-color: black;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 950;
}

.nav-menu.active{
  left: 0;
  transition: 350ms;
}

.nav-text{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.home-h1 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 5em;
  letter-spacing: -2px;
  border-bottom: 2px solid black;
  text-transform: uppercase;
  color: rgb(7, 40, 102);
  text-align: center;
  border: 3px solid white;
  border-top: none;
}

.home-para-1 {
  font-family: Georgia, sans-serif;
  text-align: center;
  font-size: 36px;
}

.home-para-1 a{
  text-decoration: none;
  color:  rgb(7, 40, 102);
  cursor: pointer;
  text-transform: uppercase;
}

.home-para-1 a:hover{
  color: brown;
}

.home-para-2 {
  font-family: Georgia, sans-serif;
  text-align: center;
  font-size: 26px;
  margin-top: 28px;
}

.home-para-2 a{
  text-decoration: none;
  color:  rgb(7, 40, 102);
  cursor: pointer;
  text-transform: uppercase;
}

.home-para-2 a:hover{
  color: brown;
}

.about-link {
  font-family: Georgia, sans-serif;
  text-align: center;
  font-size: 26px;
}

.about-link a{
  text-decoration: none;
  color:  rgb(7, 40, 102);
  cursor: pointer;
}

.about-link a:hover{
  color: brown;
}

.about-h1 {
  font-family: Georgia, sans-serif;
  text-align: center;
  font-size: 3em;
}

.no-tasks {
  font-size: 26px;
  text-align: center;
}